
<div class="modal-content" style="background-color: transparent; border: none">
    <div class="modal-body" style="vertical-align: central">
        <div class="spinner-border text-success" role="status" style="width: 150px; height: 150px; margin-left: 5%">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <span style="margin-left: 30%">Loading...</span>
</div>
