@model ClinicalApp.Models.Patient_In_Hospital
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="grids">
     <div>
         <div class="flex-shrink-0 p-3 bg-dark" style="width: 280px; height: 100%;">
    <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold btn btn-success">L.H.M.S</span>
      <br /> 
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-light">
          Home
        </a>
      </li>
     </ul>
      <ul class="btn-toggle-nav text-dark list-unstyled fw-normal pb-1 small">
            <li><a asp-controller="UserRole" asp-action="Index" class="link-light rounded"><i class="bi bi-people-fill"></i>&nbsp;&nbsp;Employees</a></li>
            <li><a asp-controller="Patient" asp-action="Index" class="link-light rounded"><i class="bi bi-hospital"></i>&nbsp;&nbsp;Patients</a></li>
            <li><a asp-controller="Chronic_Desease" asp-action="Index" class="link-light rounded"><i class="fa fa-bed"></i>&nbsp;&nbsp;Patient on merdication in hospital</a></li>
            

            <li><a asp-controller="Paramedic" asp-action="Index" class="link-light rounded"><i class="fas fa-ambulance"></i>&nbsp;&nbsp;Paramedics</a></li>
            <li><a asp-controller="Doctors" asp-action="Index"  class="link-light rounded"><i class="fas fa-user-md"></i>&nbsp;&nbsp;Doctors</a></li>
            <li><a asp-controller="Admin" asp-action="Index"  class="link-light rounded"><i class="bi bi-person-workspace"></i>&nbsp;&nbsp;Admin</a></li>
            <li><a asp-controller="IT" asp-action="Index" class="link-light rounded"><i class="bi bi-laptop"></i>&nbsp;&nbsp;IT</a></li>
            <li><a asp-controller="HR" asp-action="Index" class="link-light rounded"><i class="bi bi-person-check-fill"></i>&nbsp;&nbsp;HR</a></li>
             <li><a asp-controller="Clearner" asp-action="" class="link-light rounded"><i class="fas fa-hands-wash"></i>&nbsp;&nbsp;Cleaner</a></li>
            <li><a asp-controller="Nurse" asp-action="Index" class="link-light rounded"><i class="fas fa-user-nurse"></i>&nbsp;&nbsp;Nurses</a></li>
            <li><a asp-controller="Doctors" asp-action="Create" class="link-light rounded"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Add a Doctor</a></li>
            <li><a asp-controller="Finance" asp-action="Index" class="link-light rounded"><i class="bi bi-cash-coin"></i>&nbsp;&nbsp;Finance</a></li>
            <li><a asp-controller="Manager" asp-action="Index" class="link-light rounded"><i class="bi bi-list-task"></i>&nbsp;&nbsp;Management</a></li>
            <li><a asp-controller="Porter" asp-action="Index" class="link-light rounded"><i class="fa-solid fa-skull-crossbones"></i>&nbsp;&nbsp;Porter</a></li>

            <li><a asp-controller="P_Hospital" asp-action="Index" class="link-light rounded"><i class="fa fa-bed"></i>&nbsp;&nbsp;Patient on merdication of hospital</a></li>
            <li><a asp-controller="InComplete" asp-action="Index" class="link-light rounded"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;&nbsp;Patientwho didnt complete treatment</a></li>
            <li><a asp-controller="PickUpMeds" asp-action="Index" class="link-light rounded"><i class="bi bi-collection-fill"></i>&nbsp;&nbsp;Collection</a></li>
             <li><a asp-controller="MaleWards" asp-action="Index" class="link-light rounded"><i class="fas fa-male"></i>&nbsp;&nbsp;Male Ward</a></li>
            <li><a asp-controller="FemaleWards" asp-action="Index" class="link-light rounded"><i class="fas fa-female"></i>&nbsp;&nbsp;Female Ward</a></li>
            <li><a asp-controller="MetinityWard" asp-action="Index" class="link-light rounded"><i class="fas fa-baby"></i>&nbsp;&nbsp;Metinity Ward</a></li>
           
             

       
      <li class="border-top my-3"></li>
     @* <li class="mb-1">
        <button class="btn btn-toggle align-items-center bg-danger text-light rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-light rounded">Profile</a></li>
            <li><a href="#" class="link-light rounded">Settings</a></li>
            <li><partial name="_LoginPartial" /></li>
          </ul>
        </div>
      </li>*@
    </ul>
  </div>
     </div>


     
     <div class="top">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin: 20px 15px;">
          Edit 
        </button>
    <div class="test">
        <div class="space col-md-12" style="margin-right: 25px;">
          <h2 style="padding: 15px; text-align: right; color: red;" class="text-danger bg-info"><small><u>Edit page file for: </u></small><br />@Html.DisplayFor(model => model.BirthId) @Html.DisplayFor(model => model.PassportNumber)</h2>
          <p style="padding: 15px;" class="para">Please do double check if you have selected the right file before you continue editing and please check if the name is the name of the one of our doctor or you are that doctor.</p>
          <p></p>
          </a>
        </div>
          <div class="space col-md-12" style="margin-left: 25px;">
         @* <h2 style="padding: 15px;" class="text-danger"><select asp-for="DoctorId" disabled asp-items="ViewBag.DoctorId"></select></h2>*@
         
          <p></p>
          </a>
        </div>
    </div>
    <div>
        <div class="container">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-image: url('https://www.vennershipley.co.uk/wp-content/uploads/2019/01/shutterstock_551914228-2.jpg'); background-size: cover;">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content" style="background-color: #D8E1E4;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Form for @Html.DisplayFor(model => model.PatientFirstName) @Html.DisplayFor(model => model.PatientLastName)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
 
      <div class="modal-body" style="padding: 5%">
          <div class="row text-light" style="background-color: maroon;">
    <div class="col-md-12">
          <form asp-action="Edit">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <input type="hidden" asp-for="id" />
                                                <div class="form-group">
                    <label asp-for="PatientFirstName" class="form-label"></label>
                    <input asp-for="PatientFirstName" class="form-control" />
                    <span asp-validation-for="PatientFirstName" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="PatientLastName" class="form-label"></label>
                    <input asp-for="PatientLastName" class="form-control" />
                    <span asp-validation-for="PatientLastName" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="EmailAddress" class="form-label"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="HomeAddress" class="form-label"></label>
                    <input asp-for="HomeAddress" class="form-control" />
                    <span asp-validation-for="HomeAddress" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="ContactNumber" class="form-label"></label>
                    <input asp-for="ContactNumber" class="form-control" />
                    <span asp-validation-for="ContactNumber" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="DateOfBirth" class="form-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                  <div class="form-group">
                    <label asp-for="BirthId" class="form-label"></label>
                    <input asp-for="BirthId" class="form-control" />
                    <span asp-validation-for="BirthId" class="text-danger"></span>
                </div>
                  <div class="form-group">
                    <label asp-for="PassportNumber" class="form-label"></label>
                    <input asp-for="PassportNumber" class="form-control" />
                    <span asp-validation-for="PassportNumber" class="text-danger"></span>
                </div>
                   <div id="foreignInfo">
                         <div class="form-group">
                        <label asp-for="PassportNumber" class="form-label"></label>
                        <input asp-for="PassportNumber" class="form-control" />
                        <span asp-validation-for="PassportNumber" class="text-danger"></span>
                    </div> 
                      <div class="form-group">
                        <label asp-for="Country" class="form-label"></label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                 <div class="form-group">
                <label asp-for="AdmitStatus" class="control-label"></label>
                <input asp-for="AdmitStatus" placeholder="Admiited or Discharged" class="form-control" />
                <span asp-validation-for="AdmitStatus" class="text-danger"></span>
            </div>
                  <div class="form-group">
                    <label asp-for="Ward_Name" class="form-label"></label>
                    <input asp-for="Ward_Name" class="form-control" />
                    <span asp-validation-for="Ward_Name" class="text-danger"></span>
                </div>
                  <div class="form-group">
                    <label asp-for="ReasonForVisitation" class="form-label"></label>
                    <input asp-for="ReasonForVisitation" class="form-control" />
                    <span asp-validation-for="ReasonForVisitation" class="text-danger"></span>
                </div>
                  <div class="form-group">
                    <label asp-for="DurationOfVisitation" class="form-label"></label>
                    <input asp-for="DurationOfVisitation" class="form-control" />
                    <span asp-validation-for="DurationOfVisitation" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label asp-for="DateOfAdmition" class="form-label"></label>
                    <input asp-for="DateOfAdmition" class="form-control" />
                    <span asp-validation-for="DateOfAdmition" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <label asp-for="DateOfDischarge" class="form-label"></label>
                    <input asp-for="DateOfDischarge" class="form-control" />
                    <span asp-validation-for="DateOfDischarge" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <label asp-for="BenefitOfTreatment" class="form-label"></label>
                    <input asp-for="BenefitOfTreatment" class="form-control" />
                    <span asp-validation-for="BenefitOfTreatment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <label asp-for="RiskOfTreatment" class="form-label"></label>
                    <input asp-for="RiskOfTreatment" class="form-control" />
                    <span asp-validation-for="RiskOfTreatment" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                    <label asp-for="StartOfTreatment" class="form-label"></label>
                    <input asp-for="StartOfTreatment" class="form-control" />
                    <span asp-validation-for="StartOfTreatment" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                    <label asp-for="EndOfTreatment" class="form-label"></label>
                    <input asp-for="EndOfTreatment" class="form-control" />
                    <span asp-validation-for="EndOfTreatment" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                    <label asp-for="PatientStatus" class="form-label"></label>
                    <input asp-for="PatientStatus" class="form-control" />
                    <span asp-validation-for="PatientStatus" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                    <label asp-for="Infection" class="form-label"></label>
                    <input asp-for="Infection" class="form-control" />
                    <span asp-validation-for="Infection" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                    <label asp-for="Illness" class="form-label"></label>
                    <input asp-for="Illness" class="form-control" />
                    <span asp-validation-for="Illness" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                    <label asp-for="RecoveryChances" class="form-label"></label>
                    <input asp-for="RecoveryChances" class="form-control" />
                    <span asp-validation-for="RecoveryChances" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                    <label asp-for="RecommendedTreatment" class="form-label"></label>
                    <input asp-for="RecommendedTreatment" class="form-control" />
                    <span asp-validation-for="RecommendedTreatment" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                    <label asp-for="SuucessOfRecoveryIftreatmentTaken" class="form-label"></label>
                    <input asp-for="SuucessOfRecoveryIftreatmentTaken" class="form-control" />
                    <span asp-validation-for="SuucessOfRecoveryIftreatmentTaken" class="text-danger"></span>
                    </div>
                 <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-success" />
                </div>
                                                </form>
    </div>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</div>

</div>

</div>

@section Scripts{
    <script>
        function showhideInput(){
                if(document.getElementById('foreign').checked == true){
                     document.getElementById('foreignInfo').style.display = 'block';
                }
                else{
                    document.getElementById('foreignInfo').style.display = 'none';
                }
        }        
    </script>
}
