@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

    <div class="container">
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
<img src="https://www.ivrify.com/wp-content/uploads/2018/05/Activity-Confirmation.gif" />
</div>