@model ClinicalApp.Models.Doctor

@{
    ViewData["Title"] = "Create";
}

 <div class="grids">
     <div>
         <div class="flex-shrink-0 p-3 bg-dark" style="width: 280px; height: 100%;">
    <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold btn btn-success">L.H.M.S</span>
      <br /> 
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-light">
          Home
        </a>
      </li>
     </ul>
      <ul class="btn-toggle-nav text-dark list-unstyled fw-normal pb-1 small">
            <li><a asp-controller="UserRole" asp-action="Index" class="link-light rounded"><i class="bi bi-people-fill"></i>&nbsp;&nbsp;Employees</a></li>
            <li><a asp-controller="Patient" asp-action="Index" class="link-light rounded"><i class="bi bi-hospital"></i>&nbsp;&nbsp;Patients</a></li>
            <li><a asp-controller="Chronic_Desease" asp-action="Index" class="link-light rounded"><i class="fa fa-bed"></i>&nbsp;&nbsp;Patient on merdication in hospital</a></li>
            

            <li><a asp-controller="Paramedic" asp-action="Index" class="link-light rounded"><i class="fas fa-ambulance"></i>&nbsp;&nbsp;Paramedics</a></li>
            <li><a asp-controller="Doctors" asp-action="Index"  class="link-light rounded"><i class="fas fa-user-md"></i>&nbsp;&nbsp;Doctors</a></li>
            <li><a asp-controller="Admin" asp-action="Index"  class="link-light rounded"><i class="bi bi-person-workspace"></i>&nbsp;&nbsp;Admin</a></li>
            <li><a asp-controller="IT" asp-action="Index" class="link-light rounded"><i class="bi bi-laptop"></i>&nbsp;&nbsp;IT</a></li>
            <li><a asp-controller="HR" asp-action="Index" class="link-light rounded"><i class="bi bi-person-check-fill"></i>&nbsp;&nbsp;HR</a></li>
             <li><a asp-controller="Clearner" asp-action="" class="link-light rounded"><i class="fas fa-hands-wash"></i>&nbsp;&nbsp;Cleaner</a></li>
            <li><a asp-controller="Nurse" asp-action="Index" class="link-light rounded"><i class="fas fa-user-nurse"></i>&nbsp;&nbsp;Nurses</a></li>
            <li><a asp-controller="Doctors" asp-action="Create" class="link-light rounded"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Add a Doctor</a></li>
            <li><a asp-controller="Finance" asp-action="Index" class="link-light rounded"><i class="bi bi-cash-coin"></i>&nbsp;&nbsp;Finance</a></li>
            <li><a asp-controller="Manager" asp-action="Index" class="link-light rounded"><i class="bi bi-list-task"></i>&nbsp;&nbsp;Management</a></li>
            <li><a asp-controller="Porter" asp-action="Index" class="link-light rounded"><i class="fa-solid fa-skull-crossbones"></i>&nbsp;&nbsp;Porter</a></li>

            <li><a asp-controller="P_Hospital" asp-action="Index" class="link-light rounded"><i class="fa fa-bed"></i>&nbsp;&nbsp;Patient on merdication of hospital</a></li>
            <li><a asp-controller="InComplete" asp-action="Index" class="link-light rounded"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>&nbsp;&nbsp;Patientwho didnt complete treatment</a></li>
            <li><a asp-controller="PickUpMeds" asp-action="Index" class="link-light rounded"><i class="bi bi-collection-fill"></i>&nbsp;&nbsp;Collection</a></li>
             <li><a asp-controller="MaleWards" asp-action="Index" class="link-light rounded"><i class="fas fa-male"></i>&nbsp;&nbsp;Male Ward</a></li>
            <li><a asp-controller="FemaleWards" asp-action="Index" class="link-light rounded"><i class="fas fa-female"></i>&nbsp;&nbsp;Female Ward</a></li>
            <li><a asp-controller="MetinityWard" asp-action="Index" class="link-light rounded"><i class="fas fa-baby"></i>&nbsp;&nbsp;Metinity Ward</a></li>
           
             

       
      <li class="border-top my-3"></li>
     @* <li class="mb-1">
        <button class="btn btn-toggle align-items-center bg-danger text-light rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-light rounded">Profile</a></li>
            <li><a href="#" class="link-light rounded">Settings</a></li>
            <li><partial name="_LoginPartial" /></li>
          </ul>
        </div>
      </li>*@
    </ul>
  </div>
     </div>



     <section class="header">
    <div class="home">
          <h1 class="text-danger">L.H.M.S <small>Doctor</small></h1>
            <p class="col-md-7 mb text-light">New Doctors need to be added from this page.</p>
             <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin: 10px 15px;">
          New Doctor
        </button>
    </div>
</section>

<div>
        <div class="container">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-image: url('https://post.healthline.com/wp-content/uploads/2020/08/Doctors_For_Men-732x549-thumbnail-1-732x549.jpg'); background-size: cover;">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content" style="background-color: #D8E1E4;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Doctor form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
 
      <div class="modal-body" style="padding: 5%">
          <div class="row text-light" style="background-color: maroon;">
    <div class="col-md-12">
         <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoctorFirstName" class="control-label"></label>
                <input asp-for="DoctorFirstName" class="form-control" />
                <span asp-validation-for="DoctorFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorLastName" class="control-label"></label>
                <input asp-for="DoctorLastName" class="form-control" />
                <span asp-validation-for="DoctorLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorEmail" class="control-label"></label>
                <input asp-for="DoctorEmail" class="form-control" />
                <span asp-validation-for="DoctorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorAddress" class="control-label"></label>
                <textarea asp-for="DoctorAddress" class="form-control"></textarea>
                <span asp-validation-for="DoctorAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorPhoneNumber" class="control-label"></label>
                <input asp-for="DoctorPhoneNumber" class="form-control" />
                <span asp-validation-for="DoctorPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorDepartmetment" class="control-label"></label>
                <select asp-for="DoctorDepartmetment" class="form-control form-select">
                    <option>Select Department</option>
                    <option>OPD</option>
                    <option>Medical</option>
                    <option>Nursing</option>
                    <option>Paramedics</option>
                    <option>Patholodgy</option>
                    <option>Physical</option>
                    <option>Pyscology</option>
                    <option>Rehabilitation</option>
                    <option>Theater</option>
                    <option>Phamacy</option>
                    <option>Radiology</option>
                    <option>Technical</option>
                    <option>Management</option>
                    <option>IT</option>
                    <option>HR</option>
                    <option>Finance</option>
                    <option>Clinical</option>
                    <option>Admin</option>
                </select>
                <span asp-validation-for="DoctorDepartmetment" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" name="files" id="upLoadBox" class="form-control" />
            </div>
            <div class="form-group">
                 <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary button btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin: 10px 15px;">
          Add
        </button>
            </div>
        </form>
    </div>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</div>

</div>

</div>
@section Scripts {

    @*<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
      toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
      toolbar_mode: 'floating',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Author name',
    });
  </script>*@

  <div>
<div>
        <div class="container">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content" style="background-color: #D8E1E4;">
      <div class="modal-body" style="padding: 5%">
          <button class="btn btn-primary" type="button" id="but" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="sr-only">Loading...</span>
      Loading
    </button>

     <div class="progress collapse" id="loading">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info text-white" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height: 100%;">
                    <span style="font-size: 2rem;">Loading...</span>
                </div>
           </div>

     <div id="Fade_area" class="overlay"></div>
                <div id="myModal" class="popup">
              <partial name="_Popup" />
          </div>
      </div>
    </div>
  </div>
</div>


</div>

</div>

</div>

     <script>
        function myFunction(){
            var x = document.getElementById("myInput");
            var y = document.getElementById("hide");
            var z = document.getElementById("hidden");

            if(x.type === 'password') {
                x.type = "text";
                y.style.display = "block";
                z.style.display = "none"
            }
            else{
                 x.type = "password";
                y.style.display = "none";
                z.style.display = "block"
            }

        }
    </script>

    <script>
            var b = document.getElementById('load');
           var a = document.getElementById('log');
           var c = document.getElementById('but');
      function load() {
                 b.style.display = "block";
               a.style.display = "none";
                c.style.display = "block";
               setTimeout(function() {
                  
           }, 4000);
       }
    </script>



    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
