html {
    font-size: 14px;
    background-color: rgba(194, 233, 251, 1);
}

body {
    background-color: rgba(194, 233, 251, 1);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@keyframes example {
    from {
        background-color: red;
        color: #111;
    }

    to {
        background-color: yellow;
        color: green;
    }
    to {
        background-color: green;
        color: yellow;
    }
    to {
        background-color: blue;
        color: #fff;
    }
}

@keyframes example {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
        color: #111;
        box-shadow: -25px -25px 30px blue
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
        color: green;
        box-shadow: 25px 25px 30px orangered;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
        color: yellow;
        box-shadow: -25px -25px 30px red;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
        color: #fff;
        box-shadow: 25px 25px 30px purple;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.flow{
    margin-bottom: 36px;
}


@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
}

.bg-indigo {
    background-color: #4835d4;
}

@media (min-width: 1000px) {
    .card-registration-2 .bg-indigo {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@media (max-width: 1000px) {
    .card-registration-2 .bg-indigo {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color: #111;
    color: #fff;
}

    .footer h4 {
        margin-bottom: 25px;
        margin-top: 20px;
        font-weight: 600;
    }

.icons .bi {
    color: #f44336;
    margin: 0 12px;
    cursor: pointer;
    padding: 18px 0;
}

icons .bi .i-balloon-heart-fill {
    color: #f44336;
}

@keyframes shake{
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

h1.site-title {
    font-size: 145px;
    line-height: 1em;
    margin: 0 0 0.1em;
    text-transform: uppercase;
}

    h1.site-title small {
        font-size: 23px;
        margin-top: 0;
        display: block;
        font-family: "Raleway";
    }

    h1.site-title a {
        display: block;
        width: 280px;
        height: 80px;
        /*text-align: right;*/
        margin: 1px auto 0px;
        text-indent: -9999px;
        background: url(https://loomweb.co.za/wp-content/themes/starkers/img/loom-logo-2-mobile.png) 50% 3px no-repeat;
    }

header hr {
    display: block;
    position: absolute;
    border-top: 2px solid #000;
    z-index: -1;
    left: 0px;
    width: 100%;
    margin: 0;
}

    header hr.right {
        left: auto;
        right: 0px;
    }

    header hr#thread1 {
        top: 0.8em;
        -webkit-animation: thread2 10s infinite;
        -moz-animation: thread2 10s infinite;
        -o-animation: thread2 10s infinite;
        animation: thread2 10s infinite;
    }

    header hr#thread2 {
        top: 1.8em;
        /*right:15px;*/
        -webkit-animation: thread2 8s infinite;
        -moz-animation: thread2 8s infinite;
        -o-animation: thread2 8s infinite;
        animation: thread2 8s infinite;
    }

    header hr#thread3 {
        top: 2.8em;
        /* 	right:15px; */
        border-color: #b7bf33;
        -webkit-animation: thread2 6s infinite;
        -moz-animation: thread2 6s infinite;
        -o-animation: thread2 6s infinite;
        animation: thread2 6s infinite;
    }

    header hr#thread4 {
        top: 3.8em;
        border-color: #b23836;
        -webkit-animation: thread2 12s infinite;
        -moz-animation: thread2 12s infinite;
        -o-animation: thread2 12s infinite;
        animation: thread2 12s infinite;
    }

    header hr#thread5 {
        top: 4.8em;
        border-color: #3953a4;
        -webkit-animation: thread2 16s infinite;
        -moz-animation: thread2 16s infinite;
        -o-animation: thread2 16s infinite;
        animation: thread2 16s infinite;
    }

    header hr#thread6 {
        top: 5.8em;
        -webkit-animation: thread2 6s infinite;
        -moz-animation: thread2 6s infinite;
        -o-animation: thread2 6s infinite;
        animation: thread2 6s infinite;
    }

@media (min-width: 768px) {
    header {
        font-size: 18px;
    }

    h1.site-title a {
        width: 416px;
        height: 120px;
        margin: 0px auto 0px;
        text-indent: -9999px;
        background: url(https://loomweb.co.za/wp-content/themes/starkers/img/loom-logo-2.png) 50% 5px no-repeat;
    }

    h1.site-title small {
        font-size: 35px;
    }

    header hr {
        border-width: 3px;
    }
}

@media (min-width: 992px) {
    header hr {
    }
}

@media (min-width: 1200px) {
    header hr {
    }
}

@-webkit-keyframes thread2 {
    0% {
        width: 100%;
    }

    50% {
        width: 100%;
    }

    80% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}

@-moz-keyframes thread2 {
    0% {
        width: 100%;
    }

    50% {
        width: 100%;
    }

    80% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}

@-o-keyframes thread2 {
    0% {
        width: 100%;
    }

    50% {
        width: 100%;
    }

    80% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}

@keyframes thread2 {
    0% {
        width: 100%;
    }

    50% {
        width: 100%;
    }

    80% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}

header {
    margin: 2em 0 1em;
    font-size: 12.2px;
    text-align: center;
    position: relative;
}

.progress, .alert-success {
    position: fixed;
    height: 100px;
    top: 50%;
    left: 0%;
    width: 90%;
    margin-left: 5%;
}

/*.progress, alert-success {
    position: fixed;
    height: 100px;
    top: 50%;
    left: 0%;
    width: 90%;
    margin-left: 5%;
}*/


.overlay{
    position: absolute;
    display: none;
    background-color: rgba(120, 120,120,0.5);
    top: 0;
    left: 0;
    right: 0;
}

.popup{
    position: fixed;
    z-index: 99;
    vertical-align: central;
    display: none;
    margin-left: 30%;
    margin-bottom: 30%;
}