@model ClinicalApp.Models.Medications 

<style>

     .header{
        min-width: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(13, 202, 240, 0.5), rgba(13, 202, 240, 0.5)), url("https://vitalrecord.tamhsc.edu/wp-content/uploads/2016/03/prescription-medications.png");
        background-position: center;
        background-size: cover;
        position: relative;
        margin-top: -1.3%;
        height: 100vh;
    }
   
    .home{
        padding: 20%;
    }

    .home h1{
        margin-left: 3%;
        font-weight: 700;
        font-size: 3.8em;
        font-family:'Times New Roman', Times, serif;
    }

    .mb{
        font-weight: 500;
        font-size: 1.1em;
        color: orangered;
        margin-left: 20px;
    }

    button{
        margin-left: 20px;
    }

     .header{
        min-width: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(13, 202, 240, 0.5), rgba(13, 202, 240, 0.5)), url("https://cdn.hswstatic.com/gif/becoming-doctor.jpg");
        background-position: center;
        background-size: cover;
        position: relative;
        margin-top: -1.3%;
        height: 100vh;
    }
   
    .home{
        padding: 20%;
    }

    .home h1{
        margin-left: 3%;
        font-weight: 700;
        font-size: 3.8em;
        font-family:'Times New Roman', Times, serif;
    }

    .mb{
        font-weight: 500;
        font-size: 1.1em;
        color: orangered;
        margin-left: 20px;
    }

    button{
        margin-left: 20px;
    }

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

img{
    height: 125px;
    width: 125px;
    border-radius: 50px;
}

.grids{
    display: flex;
}
</style>


 <div class="grids">
     <div>
         <div class="flex-shrink-0 p-3 bg-info" style="width: 280px; height: 100%;">
    <a asp-controller="Home" asp-action="Index" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold btn btn-success">L.H.M.S</span>
      <br /> 
    </a>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-outline-danger">
          Home
        </a>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
          Dashboard
        </button>
        <div class="collapse" id="dashboard-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a asp-controller="UserRole" asp-action="Index" class="link-dark rounded">Employees</a></li>
            <li><a asp-controller="Patient" asp-action="Index" class="link-dark rounded">Patients</a></li>
            <li><a  class="link-dark rounded">Patient on merdication in hospital</a></li>
            <li><a  class="link-dark rounded">Patient on merdication of hospital</a></li>
          </ul>
        </div>
      </li>
       <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#bookings-collapse" aria-expanded="false">
          Bookings
        </button>
        <div class="collapse" id="bookings-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a  class="link-dark rounded">Medication</a></li>
            <li><a  class="link-dark rounded">To See a Doctor</a></li>
            <li><a  class="link-dark rounded">To See a Speciality</a></li>
            <li><a  class="link-dark rounded">To See a patient</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#ward-collapse" aria-expanded="false">
          Our Wards
        </button>
        <div class="collapse" id="ward-collapse">
           <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a  class="link-dark rounded">Children</a></li>
            <li><a  class="link-dark rounded">Metinity</a></li>
            <li><a  class="link-dark rounded">Men</a></li>
            <li><a  class="link-dark rounded">Woman</a></li>
            <li><a  class="link-dark rounded">psyc</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#role-collapse" aria-expanded="false">
          Our Roles
        </button>
        <div class="collapse" id="role-collapse">
           <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a asp-controller="Paramedic" asp-action="Index" class="link-dark rounded">Paramedics</a></li>
            <li><a asp-controller="Admin" asp-action="Index"  class="link-dark rounded">Doctors</a></li>
            <li><a asp-controller="Doctors" asp-action="Index" class="link-dark rounded">Administration</a></li>
            <li><a asp-controller="IT" asp-action="Index" class="link-dark rounded">IT</a></li>
            <li><a asp-controller="HR" asp-action="Index" class="link-dark rounded">HR</a></li>
             <li><a asp-controller="Clearner" asp-action="" class="link-dark rounded">Cleaner</a></li>
            <li><a asp-controller="Nurse" asp-action="Index" class="link-dark rounded">Nurses</a></li>
            <li><a asp-controller="Doctors" asp-action="Create" class="link-dark rounded">Add a Doctor</a></li>
            <li><a asp-controller="Finance" asp-action="Index" class="link-dark rounded">Finance</a></li>
            <li><a asp-controller="Management" asp-action="Index" class="link-dark rounded">Management</a></li>
            <li><a asp-controller="Porter" asp-action="Index" class="link-dark rounded">Porter</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
          Account
        </button>
        <div class="collapse" id="account-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Profile</a></li>
            <li><a href="#" class="link-dark rounded">Settings</a></li>
            <li><partial name="_LoginPartial" /></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
     </div>

     <section class="header">
    <div class="home">
          <h1 class="text-danger">L.H.M.S <small>Medication</small></h1>
            <p class="col-md-7 mb text-light">The provider and the records of the patient medication provided are recorded here</p>
             <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin: 10px 15px;">
         Medication
        </button>
    </div>
</section>

     <div>
        <div class="container">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background-image: url('https://2li61ajmpr722w3vr1dh89kv-wpengine.netdna-ssl.com/wp-content/uploads/2017/04/Adherence-1024x538.jpg'); background-size: cover;">
  <div class="modal-dialog" style="margin-top: 10%">
    <div class="modal-content" style="background-color: #D8E1E4;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Patient Medication Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
 
      <div class="modal-body" style="padding: 5%">
          <div class="row text-light" style="background-color: maroon;">
    <div class="col-md-12">
           <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class ="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
             <div class="form-group">
                                                            <label asp-for="MedicationName" class="control-label"></label>
                                                            <input asp-for="MedicationName" class="form-control" />
                                                            <span asp-validation-for="MedicationName" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="TypeOfMedication" class="control-label"></label>
                                                            <input asp-for="TypeOfMedication" class="form-control" />
                                                            <span asp-validation-for="TypeOfMedication" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="Symptoms" class="control-label"></label>
                                                            <input asp-for="Symptoms" class="form-control" />
                                                            <span asp-validation-for="Symptoms" class="text-danger"></span>
                                                        </div>
                                                         <div class="form-group">
                                                            <label asp-for="MedicationFor" class="control-label"></label>
                                                            <input asp-for="MedicationFor" class="form-control" />
                                                            <span asp-validation-for="MedicationFor" class="text-danger"></span>
                                                        </div>
                                                         <div class="form-group">
                                                            <label asp-for="StartTime" class="control-label"></label>
                                                            <input asp-for="StartTime" class="form-control" />
                                                            <span asp-validation-for="StartTime" class="text-danger"></span>
                                                        </div>
                                                         <div class="form-group">
                                                            <label asp-for="DurationOfMedication" class="control-label"></label>
                                                            <input asp-for="DurationOfMedication" class="form-control" />
                                                            <span asp-validation-for="DurationOfMedication" class="text-danger"></span>
                                                        </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


</div>

</div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}